---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found">
  <p>
    Couldn't find the page you requested. If this page really should exist,
    please drop me a line and I'll do my best to fix things. Nobody likes link
    rot!
  </p>
</BaseLayout>
