---

---

<div class="h-[1rem] w-full bg-brand dark:bg-brand-dark"></div>
<h1
  class:list={[
    "py-[0.5rem]",
    "pl-[0.5rem]",
    "pr-[1rem]",
    "rounded-br-xl",
    "w-fit",
    "bg-brand",
    "dark:bg-brand-dark",
    "font-fredoka",
    "font-bold",
    "text-3xl",
    "text-white",
    "brightness-125",
  ]}
>
  <a href={import.meta.env.BASE_URL}>Gabe's Blog</a>
</h1>
