---
const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import siteConfig from "../config.ts";
import "../style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} &middot; {siteConfig.title}</title>
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#282ED8"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#2987D9"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={siteConfig.title}
      href={import.meta.env.BASE_URL + "/feed.xml"}
    />
    <style>
      @font-face {
        font-family: Fredoka;
        /* NOTE vite is stupid and falls over (only on build) if you try to use
         * interleaved js in css, so this url doesn't use BASE_URL like it
         * should. if the base ever changes, this will have to change too. */
        src: url("/blog/Fredoka-Variable.ttf");
      }
    </style>
  </head>
  <body
    class:list={[
      "min-h-screen",
      "flex",
      "flex-col",
      "gap-8",
      "bg-gray-100",
      "text-gray-900",
      "dark:bg-gray-900",
      "dark:text-gray-100",
    ]}
  >
    <header>
      <Header />
    </header>
    <main class="px-[1rem] md:max-w-[800px] md:mx-auto">
      <h1 class="mb-[1rem]">{title}</h1>
      <slot />
    </main>
    <footer class="mt-auto">
      <Footer />
    </footer>
  </body>
</html>
